.jumbotron {
    background-color: gold;
    color: black;
    margin-top: 50px;
}

.marg-icon {
    padding-left: 5px;
    padding-right: 5px;
}

.card-hotel {
    flex: 1 200px;
    }

.footer-icon-addres {
    padding-right: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: gold;
    margin-bottom: 0px;
    margin-top: 10px;
}

.tab-content {
    padding-bottom: 10px;
}