$gold: #FFD700;
$black: #000000;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $gold;
    color: $black;
    @include margenes(50px, 0px)
}

.marg-icon {
    padding-left: 5px;
    padding-right: 5px;
}

.card-hotel {
    flex: 1 200px;
    }

.footer-icon-addres {
    padding-right: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color:$gold;
    @include margenes(10px, 0px)
}

.tab-content {
    padding-bottom: 10px;
}