.jumbotron {
  background-color: #FFD700;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 0px;
}

.marg-icon {
  padding-left: 5px;
  padding-right: 5px;
}

.card-hotel {
  flex: 1 200px;
}

.footer-icon-addres {
  padding-right: 10px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0;
}

footer {
  padding: 10px 10px 0px 10px;
  background-color: #FFD700;
  margin-top: 10px;
  margin-bottom: 0px;
}

.tab-content {
  padding-bottom: 10px;
}

/*# sourceMappingURL=styles.css.map */
